@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.search-title {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
}

.search-subtitle {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}