@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto+Slab&display=swap');

.input-subtitle {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 8px;
    position: absolute;
    top: 8px;
}

.sign-up {
    width:100%;
    height: 56px;
    border-bottom: 1px solid #DBDBDB;
    position: relative;
}

.sign-up input {
    position: absolute;
    bottom: 11px;
}

.sign-up-input::placeholder {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.sign-up-button{
    padding-top:48px;
    text-align: center;
}

.sign-up-button button{
    width: 108px;
    height: 36px;
    color: #ffffff;
    background: #191919;
    border: 1px solid #191919;
    box-sizing: border-box;
    border-radius: 4px;
}

.input-error {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;  
}

.caution-icon {
    font-size: 24px;
    color: #CC5454;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.sign-up-form {
    cursor: pointer;
}

