.storage-title {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

.storage-subtitle {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

.storage-title-wrapper {
    padding: 48px 32px;
}
