.profile-image {
    margin-top: 92px;
    text-align: center;
}

.profile-image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(82, 79, 74, 0.8);
    object-fit: cover;
}