@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.who {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
}
