.result-user-img { 
    background: transparent;
    box-sizing: border-box;
}

.result-user-img img{
    width: 64px;
    height: 64px;
    border: 1px solid #DBDBDB;
    border-radius: 50%;
    object-fit: cover;
}

.result-user-name {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 8px;
}

.result-user-comment {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    min-width: 148px;
}

.add-button {
    width: 58px;
    height: 28px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 18px;
    transition: background-color 100ms ease-in;
}
